.footer{
    position: relative;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    width: 100%;
    color: $txtColor;
    font-size: 0.8em;
    padding: 0 4% 2% 4%;
    @media screen and (max-width: 991px) {
        display: none;
    }
    .footer-nav{
        width: 35%;
        margin-right: auto;
        a{
            color: inherit;
            text-decoration: none;
            font-size: inherit;
            font-weight: 600;
            margin-right: 3%;
        }
    }
    small{
        color: $smallColor;
        font-style: italic;
    }
}
.next-project{
    padding: 5% 5%;
    width: 100%;
    a{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        color: #fff;
        text-decoration: none;
        div:nth-of-type(1){
            margin-right: auto;
            width: 30%;
            p:nth-of-type(1){
                font-size: 1.2em;
                margin: 0;
            }
            p:nth-of-type(2){
                font-size: 4em;
                margin: 0;
            }
        }
        div:nth-of-type(2){
            width: 10%;
            img{
                transform: rotate(-90deg);
                filter: invert(1);
                height: 40%;
            }
        }
    }
}
