.main-projects{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: $txtColor;
    @media screen and (max-width: 991px) {
        flex-direction: column;
        height: auto;
    }
    section{
        position: relative;
        width: 25%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        transition: .3s all ease-in-out;
        @media screen and (max-width: 991px) {
            width: 100%;
            height: 90vh;
            h2{
                font-size: 4em;
                font-weight: 300;
            }
        }
    }
    .box1 a:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: .3s all ease-in-out;
        @media screen and (max-width: 991px) {
            opacity: 1;
            width: 100%;
            height: 100%;
        }
    }
    .box1 a:hover::before{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    .box1 a::before{
        background-image: url('../img/annabelle.jpg');
    }
    .box2 a:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: .3s all ease-in-out;
        @media screen and (max-width: 991px) {
            opacity: 1;
            width: 100%;
            height: 100%;
        }
    }
    .box2 a:hover::before{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    .box2 a::before{
        background-image: url('../img/decathlon.png');
    }
    .box3 a:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: .3s all ease-in-out;
        @media screen and (max-width: 991px) {
            opacity: 1;
            width: 100%;
            height: 100%;
        }
    }
    .box3 a:hover::before{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    .box3 a::before{
        background-image: url('../img/eventoxtra-header.jpg');
    }
    .box4 a:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-size: cover;
        background-position: center;
        opacity: 0;
        transition: .3s all ease-in-out;
        @media screen and (max-width: 991px) {
            opacity: 1;
            width: 100%;
            height: 100%;
        }
    }
    .box4 a:hover::before{
        width: 100%;
        height: 100%;
        opacity: 1;
    }
    .box4 a::before{
        background-image: url('../img/flako-b.jpg');
    }
    a{
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
    }
    h2{
        margin: 0;
    }
    p{
        margin: 0;
    }
}
// Fix Footer z-index on screen media large
.footer-projects{
    position: fixed;
    z-index: 5000;
    bottom: 0;
}